<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.sn.api.RestApiTest">
<parameter name="env" value="LOCAL"/>
<listeners>
		<listener class-name="com.sn.apt.listeners.TestListenerForAPI"/>
	</listeners>
 <test name="RestApiTest">
    <classes>
      <class name="com.sn.api.RestApiTest">
 </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
